*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: bisque;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(211, 161, 96);
}
 header h1 {
    text-shadow: 2px 2px black;
    color: rgb(238, 146, 33);
 }

 input{
    width: 50%;
    min-height: 30px;
    border-radius: 10px;
 }
 
 button{
    width: fit-content;
    height: 25px;
    border-radius: 10px;
 }

 ul li{
    border: solid rgba(211, 118, 12, 0.959) 2px;
    display: inline-flex;
    margin: 2%;
    width: min-content;
    flex-grow: 1;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 4px;
    align-items: center;
    justify-content: center;
 }

 .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
 }