body {
    height: 100vh;
    background-image: linear-gradient(rgb(165, 166, 252), rgb(2, 2, 87));
}
.overlay {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
    display: none ;

}

.popup {
    color: black;
    background-color: bisque;
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    left: 30%;
    padding: 15px;
    top: 20%;
    display: none;
}

button {
    border-radius: 8px;
}

.popup button {

    margin-top: 10px;
}